*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(64, 64, 64);
    font-family: verdana, sans-serif;
    font-size: 1.3em;
}

nav ul{
    list-style: none;
    color: aliceblue;
    width: 100%;
}

a{
    text-decoration: none;
    color: aliceblue;
}