*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

ul{
    list-style: none;
}

.ultop-menu{
    display: flex;
    background-color: #FF0000;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 85px;
    margin-right: 200px;
    padding: 15px;
    padding-right: 45px;
    position: fixed;
    top: 0;
}

.listtopmenu a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 15px;
    padding-left: 50px;
    font-family: 'Crimson Text', serif;
}

.contact{
  display: flex;
  flex-direction: column-reverse;
  width: 10%;
  height: 95vh;
  position: fixed;
  align-items: center;
  top: 0;
}

.fa-brands{
  color:antiquewhite;
  padding: 20px;
  font-size: 20px;
}

.line{
  width: 1px;
  height: 20vh;
  background-color: aliceblue;
}

.home{
  height: 80vh;
  margin-top: 100px;
  margin-left: 12%;
  margin-right: 10%;
  background-color: gray;
}

.about{
  height: 80vh;
  margin-top: 25px;
  margin-left: 12%;
  margin-right: 10%;
  background-color: gray;
}

.skills{
  height: 80vh;
  margin-top: 25px;
  margin-left: 12%;
  margin-right: 10%;
  background-color: gray;
}

.work{
  height: 80vh;
  margin-top: 25px;
  margin-left: 12%;
  margin-right: 10%;
  background-color: gray;
}

.contacts{
  height: 80vh;
  margin-top: 25px;
  margin-left: 12%;
  margin-right: 10%;
  margin-bottom: 5vh;
  background-color: gray;
}

/* anton-regular - latin */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/anton-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/anton-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/anton-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/anton-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/anton-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/anton-v23-latin-regular.svg#Anton') format('svg'); /* Legacy iOS */
  }

  /* courgette-regular - latin */
@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/courgette-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/courgette-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/courgette-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/courgette-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/courgette-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/courgette-v13-latin-regular.svg#Courgette') format('svg'); /* Legacy iOS */
  }