@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5v3cot');
  src:  url('fonts/icomoon.eot?5v3cot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5v3cot') format('truetype'),
    url('fonts/icomoon.woff?5v3cot') format('woff'),
    url('fonts/icomoon.svg?5v3cot#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-board:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-user1:before {
  content: "\e902";
}
.icon-user2:before {
  content: "\e903";
}
